.main-master{
  width: 50%;
  padding: 5% 2% 5% 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:start;
  align-self: flex-start;
  padding: 0;
}

.post-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.add-post{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 3%;
  padding: 2%;
  font-family: "Righteous", sans-serif;
  color: #e6b000;
  background-color: #ffffffef;
  border: 5px solid #e6b000;
  border-radius: 10px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.1s ease;

  i{
    font-size: 1.5rem;
    margin-left: 3%;
  }
}

.add-post:hover{
  color: #ffffff;
  background-color: #e6b000;
  border: 5px solid #ffffff;
}
