.nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-family: "Righteous", sans-serif;
  color: #ffffff;
  border-bottom: 2px solid #b6b6b6 ;
}

.logo {
  width: 100%;  
  align-self: center;
  display: block;
}
