.post-item-master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 2%;
  margin: 1% 0 5% 1%;
  border-radius: 15px;
  border: 5px solid #3d0063;
  background-color: #ffffffef;
  transition: 0.25s ease;
}

.post-item-master:hover {
  filter: drop-shadow(0 0 0.3rem #ffffff);
}

.post-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Righteous", sans-serif;
  color: #3d0063;
}

.project-title {
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 2%;
}

.project-image {
  width: 30px;
  height: 30px;
  border: 2px solid #3d0063;
  border-radius: 50%;
  margin-right: 5%;
}

.group-icon{
  font-size: 1.5rem;
  margin-right: 5%;
  transition: 0.1s ease;
  cursor: pointer;
}

.group-icon:hover{
  color: #e6b000;
}

.project-description{
  width: 95%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 1% 0;
  line-height: 1.5;
}

.project-foot{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.tech-stack{
  width: 70%;
  display: flex;
  justify-content:start;
  align-items: center;
}

.tech-div{
  width: auto;
  padding: 1%;
  margin: 2%;
  font-family: "Righteous", sans-serif;
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #2f004c;
  border: 2px solid #2f004c;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.25s ease;
}

.tech-div:hover{
  color: #2f004c;
  background-color: #ffffff;
  border: 2px solid #2f004c;
}

.request-join-btn {
  margin-right: 3%;
  padding: 1%;
  font-family: "Righteous", sans-serif;
  font-size: 0.8rem;
  background-color: #e6b000;
  color: #ffffff;
  border: 2px solid #e6b000;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.25s ease;
}

.request-join-btn:hover{
  background-color: #ffffff;
  color: #e6b000;
  border: 2px solid #e6b000;
} 