.modal,
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: #00000080;
}

.close-modal {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 10%;
}

.signup-interact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: solid 7px #e6b000;
  width: 30%;
  background: linear-gradient(300deg, #3d0063, #160024, #090012);
  background-size: 150% 150%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sign-in{
  font-family: "Righteous", sans-serif;
  color: #ffffff;
}

.inputs-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  input{
    margin: 5% 0;
    padding: 5%;
    border-radius: 15px;
    border: solid 5px #e6b000;
  }
}

input:focus{
  outline: unset;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5% 0;
}

.close-modal:hover{
  color: #ff0000;
  filter: drop-shadow(0 0 1rem #ffffff);
  animation: spin 0.35s linear
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.signup-button{
  margin: 7% 0;
  padding: 1.5% 5%;
  background-color: #e6b000;
  border: 5px solid #ffffff;
  border-radius: 20px;
  color:  #ffffff;
  font-family: "Righteous", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.25s ease;
}

.signup-button:hover{
  background-color: #ffffff;
  border: 5px solid #e6b000;
  color:  #e6b000;
}