.list-item{
  display: flex;
  align-items: center;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-left: 5%;
  cursor: pointer;
  margin-bottom: 15%;
  transition: 0.25s ease;
}

.list-item:hover{
  .checks{
    border: 2px solid #00c300;
  }
}

.checks{
  width: 10px;
  height: 10px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  margin-right: 5%;
  transition: 0.25s ease;
}

.checked{
  width: 10px;
  height: 10px;
  border-radius: 20px;
  border: 2px solid #00c300;
  background-color: #00c300;
  margin-right: 5%;
  filter: drop-shadow(0 0 1rem #59ff59);
  transition: 0.25s ease;
}