.todo-master{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: flex-start;
  width: 25%;
  height: 100%;
  border-left: solid 2px #b6b6b6;
  color: #ffffff;

  > *{
    margin-left: 5%;
  }
}

.todo-title{
  font-size: 1.9rem;
  font-family: "Righteous", sans-serif;

  .plus{
    margin-left: 30%;
    cursor: pointer;
    transition: 0.25s ease;
  }
}

.plus:hover{
  display: inline-block;
  color: #ffc800;
  filter: drop-shadow(0 0 1rem #ffffff);
  animation: spin 0.35s linear
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.todo-list{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.new-todo-list-item{
  width: 81%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-bottom: 10%;
}

.add-todo-item{
  width: 90%;
  margin-left: 1px;
  border: none;
  background-color: inherit;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.add-todo-item:focus{
  outline: unset;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.check-add{
  width: 12px;
  height: 11px;
  border-radius: 20px;
  border: 2px solid #ffc800;
  margin-right: 5%;
}

.todo-submit{
  color: #00c300;
  font-size: 1.4rem;
  margin-left: 5%;
  cursor: pointer;
  transition: 0.25s ease;
}

.todo-submit:hover{
  filter: drop-shadow(0 0 1rem #ffffff);
}


@keyframes fidget {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.error {
  .check-add{
    width: 12px;
    height: 11px;
    border-radius: 20px;
    border: 2px solid #e50000;
    margin-right: 5%;
  }
  .add-todo-item{
    width: 90%;
    margin-left: 1px;
    border: none;
    background-color: inherit;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #ffffff;
  }
  
  .add-todo-item:focus{
    outline: unset;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #ffffff;
  }
  animation: fidget 0.35s infinite;
}